html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  line-height: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #4b1223;
  color: #ffffff;
  overflow-x: hidden;
}

div.container {
  display: block;
  margin: 150px auto;
  max-width: 40em;
  padding: 50px;
  border: 20px double #e1c699;
}

h1 {
  text-align: center;
  margin: 50px auto;
  font-size: 2.4em;
}

h1,
h2 {
  color: #e1c699;
  font-weight: 500;
  border-radius: 25px;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  width: 200px;
}

img.recipe {
  display: block;
  margin: -160px auto 50px;
  border: 5px solid #e1c699;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 110px -5px rgba(0, 0, 0, 0.75);
}

img.recipe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

th,
td {
  padding: 0.5em 12em 0.5em 0.5em;
  margin: 0 auto;
  border: 1px solid #e1c699;
}

ul {
  list-style-type: none;
}
