* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amatic SC", sans-serif;
  background-color: #4b1223;
  line-height: 3em;
}

div.container {
  text-align: center;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 10px;
}

.recipe img {
  height: auto;
  max-width: 300px;
}

h1 {
  font-size: 5em;
  font-weight: 500;
  margin: 1.5em 0;
}

h3 {
  font-size: 2em;
}

h1,
html h3,
li.recipe a {
  color: #ffffff;
}

.recipe a {
  text-decoration: none;
}

.recipe img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border-radius: 20px;
}
