* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #a2d2ff;
}

div.container {
  text-align: center;
  line-height: 3em;
}

h1 {
  font-size: 3em;
  color: #ffffff;
  font-weight: 100;
  margin: 1em;
}

li.recipe a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ffb0c9;
  padding: 0.5em;
  border-radius: 10px;
}

li.recipe a:hover {
  color: #ffb0c9;
  background-color: #ffffff;
}
